# Load Zephyr Arch Kconfig descriptions.
osource "/workspace/lib/zephyr-workspace/zephyr/arch/rx/Kconfig"
osource "/workspace/lib/zephyr-workspace/zephyr/arch/x86/Kconfig"
osource "/workspace/lib/zephyr-workspace/zephyr/arch/xtensa/Kconfig"
osource "/workspace/lib/zephyr-workspace/zephyr/arch/sparc/Kconfig"
osource "/workspace/lib/zephyr-workspace/zephyr/arch/riscv/Kconfig"
osource "/workspace/lib/zephyr-workspace/zephyr/arch/posix/Kconfig"
osource "/workspace/lib/zephyr-workspace/zephyr/arch/mips/Kconfig"
osource "/workspace/lib/zephyr-workspace/zephyr/arch/arm64/Kconfig"
osource "/workspace/lib/zephyr-workspace/zephyr/arch/arm/Kconfig"
osource "/workspace/lib/zephyr-workspace/zephyr/arch/arc/Kconfig"
